<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap5/dist/css/bootstrap.css">
    <title>Enquete WEB! :: Obrigado</title>
</head>
<body>
    <h1>Enquete WEB!</h1>
    <h2>Obrigado por Responder!</h2>
    <p>
        <a asp-action="Index" class="btn btn-dark">Voltar ao inicio</a>
        <a asp-action="Resultado" class="btn btn-danger">Ver resultados parciais</a>
    </p>
</body>
</html>