@model ProjetoEnqueteMvcNetCore.Models.Resposta
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap5/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/estilo.css">
    <title>Enquete WEB! :: Resposta</title>
</head>
<body>
    <h1>Enquete WEB!</h1>
    <h2>Você teria coragem de fazer uma viagem sem volta para Marte?</h2>
    <h4>Preencha os campos e marque sua resposta.</h4>
    <div asp-validation-summary="All"></div>
    <form method="POST">
        <div>
            <label asp-for="Nome">Seu nome:</label><br>
            <input asp-for="Nome">
        </div>
        
        <div>
            <label asp-for="Email">Seu email:</label><br>
            <input asp-for="Email">
        </div>
        <div>
            Resposta:
            <div>
                <input type="radio" id="rdSim"asp-for="Sim" value="true">
                <label for="rdSim">Sim</label>
            </div>
            <div>
                <input type="radio" id="rdNao" asp-for="Sim" value="false">
                <label for="rdNao">Não</label>
            </div>
        </div>
        <input type="submit" class="btn btn-danger" value="Enviar resposta">

    </form>
</body>
</html>