@model IEnumerable<Resposta>

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap5/dist/css/bootstrap.css">
    <title>Enquete WEB! :: Resultado parcial</title>
</head>
<body>
    <h1>Enquete WEB!</h1>
    <h2>Resultado parcial</h2>
    <h4>Voce teria coragem de fazer uma viagem sem volta para Marte?</h4>
    @foreach (Resposta r in Model)
    {
        <p>@(r.Nome): @(r.Sim.Value ? "Sim" : "Não")</p>
    }
    <p>
        <a asp-action="Index">Voltar ao inicio</a>
    </p>
</body>
</html>